<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="valtech">


    <parameter name="browserName" value="chrome"/>

    <test name="regression">

        <classes>
            <class name="com.valtech.Exercise2"/>
            <class name="com.valtech.Exercise3"/>
        </classes>
    </test>
</suite>